body {
    font-family: "Source Sans Pro", sans-serif;
    background-color: #00081E;
    color: #ccc8db;
    text-align: center;
    margin: auto;
}

/*------------Header CSS------------*/
#logo {
    width: 400px;
}

#currentDay {
    float: left;
}

#currentHour {
    float: right;
}

.time-date {
    font-weight: bolder;
    font-size: 15px;
    color: #ffff;
}

hr {
    border: 1px solid #337ffe;
}

.nav {
    justify-content: center;
    border: 1px solid #337ffe;
    background-color: #00081E;
}

.navbar-toggler {
    position: relative;
    left: 25%;
}

/*------------Main CSS------------*/
section {
    border: 1px solid #337ffe;
}

.title {
    background-color: #337ffe;
    border: 1px solid #337ffe;
    font-weight: bolder;
    font-kerning: normal;
    text-align: left;
    color: white;
    text-transform: uppercase;
    padding: 10px 0px 10px 15px;
}

/*------------Covid CSS------------*/
.corona {
    background-color: #00081E;
}

#cora {
    background-color: white;
    width: 100%;
    object-position: center;
    object-fit: contain;
    border: 1px solid #272a3a;
}

.covid-data {
    background-color: #ffff;
    border: 1px solid #272a3a;
}

h2 {
    color: #337ffe;
    font-weight: bolder;
    font-size: 25px;
}

.covidDataType {
    color: #337ffe;
    font-weight: bolder;
    font-kerning: normal;
    text-transform: uppercase;
}

/*------------Weather CSS------------*/
.wea {
    background-color: #00081E;
}

.searchbox {
    width: 100%;
}

.wea-data {
    background-color: #ffff;
    border: 1px solid #272a3a;
    width: inherit;
}

.allcity-data {
    color: black;
}

.location {
    font-weight: bolder;
    padding: 10px 5px 10px 5px;
}

.city {
    color: #337ffe;
    font-size: 25px;
    font-weight: bolder;
    font-kerning: normal;
    text-transform: uppercase;
}

.current {
    color: #ffff;
    background-color: #337ffe;
}

.temp {
    font-size: 50px;
    font-weight: bolder;
    font-kerning: normal;
    text-transform: uppercase;
}

.weather {
    font-size: 20px;
    font-kerning: normal;
}

/*------------Spotify CSS------------*/
.spotify {
    border: 1px solid #337ffe;
    width: 340px;
    height: 375px;
}

/*------------News CSS------------*/
.articles {
    background-color: #00081E;
}

.mainArticleLink {
    background-color: #ffff;
    color: #00081E;
    padding: 18px;
}

.mainArticleImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.listArticleDesc {
    border: 1px solid #337ffe;
    font-size: 12px;
    background-color: #ffff;

}

.listArticleImg {
    width: 100%;
    height: 100%;
    float: left;
    object-fit: contain;
}

/*------------Travel CSS------------*/
#skylogo {
    width: 200px;
}

.skyscan {
    background-color: #00081E;
}

.form {
    background-color: #ffff;
}

/*------------Google Maps API------------*/
.google {
    background-color: #00081E;
}

.goobox {
    background-color: white;
}

#gooheader {
    width: 40%;
    object-fit: contain;
}

.mapbox {
    background-color: white;
}

#map {
    height: 542px;
}
