body {
    font-family: "Source Sans Pro", sans-serif;
    background-color: #151728;
    color: #ccc8db;
    text-align: center;
    margin: auto;
}

/*------------Header CSS------------*/
#logo {
    width: 400px;
}

#currentDay {
    float: left;
}

#currentHour {
 float: right;
}

.time-date {
    font-weight: bolder;
    font-size: 15px;
    color: #ffff;
}

hr {
    border: 1px solid #272a3a;
}

/*------------Main CSS------------*/
section {
    border: 1px solid #272a3a;
}

.title {
    background-color: #337ffe;
    border: 1px solid #272a3a;
    font-weight: bolder;
    font-kerning: normal;
    text-align: left;
    color: white;
    text-transform: uppercase;
    padding: 10px 0px 10px 15px;
}

/*------------Covid CSS------------*/
.corona {
    background: url("https://media.giphy.com/media/XbgLOfTPqp0MUc6yYH/giphy.gif");
    background-position: 7% center;
    background-repeat: no-repeat;
    background-color: #00081E;
}

.covid-data {
    float: right;
    background-color: #00081E;
    border: 1px solid #272a3a;
    border-radius: 5px;
    width: 375px;
}

tr {
    background-color: white;
}

/*------------News CSS------------*/

h4 {
    background-color: white;
}

p {
    background-color: #272a3a;
}
